<% content_for :title, "Edit Actor" %>

<div class="row mt-4">
  <div class="col-12 col-sm-8">
    <!-- Content -->
    <%= render 'form', actor: @actor %>
  </div>

  <!-- Right Sidebar -->
  <%= render 'layouts/sidebar' %>
</div>