<div class="container">
  <div class="row">
    <main class="post blog-post col-md-8 no-padding-bottom">
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><%= image_tag @actor.image.url, class: "img-fluid" %></div>

          <div class="post-details">
            <h3>
              <%= @actor.full_name %>
            </h3>
          </div>
        </div>
      </div>
    </main>

    <%= render 'actors/movies' %>
  </div>
</div>