<% if current_user&.admin? %>
  <div class="card mt-4">
    <h5 class="card-header">Add cast to movie</h5>
    <div class="card-body">
      <%= form_with url: movie_create_cast_path(@movie.id), method: :post do |f| %>
        <div class="form-group">
          <%= f.select :actor_id, Actor.all.map { |t| [t.full_name, t.id] },
                       { include_blank: true },
                       class: "form-control" %>
        </div>
        <%= f.submit "Add cast", class: "btn btn-sm btn-primary float-right" %>
      <% end %>
    </div>
  </div>
<% end %>