<h3>Casts</h3>

<% if @movie.actors.any? %>
  <% @movie.actors.each do |actor| %>
    <div class="col-lg-4">
      <%= image_tag actor.image.url(:medium), class: "rounded-circle", width: "140", height: "140" %>
      <h4><%= actor.full_name %></h4>
      <p>
        <%= link_to "View details", actor, class: "btn btn-primary" %>
      </p>
    </div>
  <% end %>
<% else %>
  <p>No casts found!</p>
<% end %>

