<!--<div class="card mt-4">-->
<!--  <h5 class="card-header">Reviews</h5>-->
<!--  <div class="card-body">-->
    <%# if @movie.reviews.any? %>
      <%# @movie.reviews.each_with_index do |review, index| %>
        <%# unless index.zero? %>
<!--          <hr/>-->
        <%# end %>

<!--        <blockquote class="blockquote">-->
<!--          <p class="mb-0"><%#= review.comment %> <small class="float-right">Score: <%#= review.score %></small></p>-->
<!--          <footer class="blockquote-footer"><%#= review.user.first_name %></footer>-->
<!--        </blockquote>-->
      <%# end %>
    <%# else %>
<!--      <p>No reviews found</p>-->
    <%# end %>

<!--  </div>-->
<!--</div>-->

<div class="row">
  <div class="col-lg-12">
    <h3>Reviews</h3>

    <ul class="list-group">
      <% if @movie.reviews.blank? %>
        No reviews found!
      <% else %>
        <% @movie.reviews.order(created_at: :desc).each do |review| %>
          <li class="list-group-item">
            <p><%= review.comment %></p>
            <small><%= review.user.first_name %> - <%= time_ago_in_words(review.created_at) %></small>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>