// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body#home {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
    .container {
      max-width: 40rem;
    }
  }
  .jumbotron-heading {
    font-weight: 300;
  }
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(3rem * 2);
      padding-bottom: calc(3rem * 2);
    }
  }
}