<footer class="main-footer">
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2021 Harris Mariano.</p>
        </div>
        <div class="col-md-6 text-right">
          <p><a href="#" class="text-white">harris.mariano@adish.co.jp</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>