<div class="col-12 col-sm-4">
  <!-- Search Start -->
  <div class="card mb-4">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Movies" />
        <div class="input-group-append">
          <button class="btn btn-dark" type="button" id="button-addon2">Search</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Search End -->

  <!-- Top Movies -->
  <div class="card mb-4">
    <h5 class="card-header">Top Movies by Rating</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Movie 1 <span class="float-right badge badge-warning">5/5</span></a></li>
      <li class="list-group-item"><a href="#">Movie 2 <span class="float-right badge badge-warning">4.5/5</span></a></li>
      <li class="list-group-item"><a href="#">Movie 3 <span class="float-right badge badge-warning">4/5</span></a></li>
      <li class="list-group-item"><a href="#">Movie 4 <span class="float-right badge badge-warning">4/5</span></a></li>
      <li class="list-group-item"><a href="#">Movie 5 <span class="float-right badge badge-warning">4/5</span></a></li>
    </ul>
    <div class="card-footer">
      <a href="#">View All</a>
    </div>
  </div>
  <!-- End -->

  <!-- Upcoming Movies -->
  <div class="card mb-4">
    <h5 class="card-header">Recent Movie Comments</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#">Movie 1 <span class="float-right badge badge-primary">25-10-2020</span></a></li>
      <li class="list-group-item"><a href="#">Movie 2 <span class="float-right badge badge-primary">25-10-2020</span></a></li>
      <li class="list-group-item"><a href="#">Movie 3 <span class="float-right badge badge-primary">25-10-2020</span></a></li>
      <li class="list-group-item"><a href="#">Movie 4 <span class="float-right badge badge-primary">25-10-2020</span></a></li>
      <li class="list-group-item"><a href="#">Movie 5 <span class="float-right badge badge-primary">25-10-2020</span></a></li>
    </ul>
    <div class="card-footer">
      <a href="#">View All</a>
    </div>
  </div>
  <!-- End -->
</div>